
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: fabricorderingservices.hlf.kungfusoftware.es
spec:
  group: hlf.kungfusoftware.es
  names:
    kind: FabricOrderingService
    listKind: FabricOrderingServiceList
    plural: fabricorderingservices
    shortNames:
    - orderingservice
    singular: orderingservice
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: State
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FabricOrderingService is the Schema for the hlfs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FabricOrderingServiceSpec defines the desired state of FabricOrderingService
            properties:
              enrollment:
                properties:
                  component:
                    properties:
                      cahost:
                        minLength: 1
                        type: string
                      caname:
                        minLength: 1
                        type: string
                      caport:
                        type: integer
                      catls:
                        properties:
                          cacert:
                            type: string
                        required:
                        - cacert
                        type: object
                      enrollid:
                        minLength: 1
                        type: string
                      enrollsecret:
                        minLength: 1
                        type: string
                      external:
                        nullable: true
                        properties:
                          certificateKey:
                            type: string
                          privateKeyKey:
                            type: string
                          secretName:
                            type: string
                        required:
                        - certificateKey
                        - privateKeyKey
                        - secretName
                        type: object
                    required:
                    - cahost
                    - caname
                    - caport
                    - catls
                    - enrollid
                    - enrollsecret
                    type: object
                  tls:
                    properties:
                      cahost:
                        type: string
                      caname:
                        type: string
                      caport:
                        type: integer
                      catls:
                        properties:
                          cacert:
                            type: string
                        required:
                        - cacert
                        type: object
                      csr:
                        properties:
                          cn:
                            type: string
                          hosts:
                            items:
                              type: string
                            type: array
                        type: object
                      enrollid:
                        type: string
                      enrollsecret:
                        type: string
                    required:
                    - cahost
                    - caname
                    - caport
                    - catls
                    - enrollid
                    - enrollsecret
                    type: object
                required:
                - component
                - tls
                type: object
              image:
                minLength: 1
                type: string
              mspID:
                minLength: 3
                type: string
              nodes:
                items:
                  properties:
                    enrollment:
                      properties:
                        tls:
                          properties:
                            csr:
                              properties:
                                cn:
                                  type: string
                                hosts:
                                  items:
                                    type: string
                                  type: array
                              type: object
                          type: object
                      required:
                      - tls
                      type: object
                    host:
                      type: string
                    id:
                      minLength: 1
                      type: string
                    port:
                      type: integer
                  required:
                  - enrollment
                  - id
                  type: object
                type: array
              service:
                properties:
                  type:
                    allOf:
                    - enum:
                      - NodePort
                      - ClusterIP
                      - LoadBalancer
                    - enum:
                      - NodePort
                      - ClusterIP
                      - LoadBalancer
                    type: string
                required:
                - type
                type: object
              storage:
                properties:
                  accessMode:
                    default: ReadWriteOnce
                    type: string
                  size:
                    default: 5Gi
                    type: string
                  storageClass:
                    default: ""
                    type: string
                required:
                - accessMode
                - size
                type: object
              systemChannel:
                properties:
                  config:
                    properties:
                      absoluteMaxBytes:
                        type: integer
                      applicationCapabilities:
                        properties:
                          V2_0:
                            type: boolean
                        required:
                        - V2_0
                        type: object
                      batchTimeout:
                        type: string
                      channelCapabilities:
                        properties:
                          V2_0:
                            type: boolean
                        required:
                        - V2_0
                        type: object
                      electionTick:
                        type: integer
                      heartbeatTick:
                        type: integer
                      maxInflightBlocks:
                        type: integer
                      maxMessageCount:
                        type: integer
                      ordererCapabilities:
                        properties:
                          V2_0:
                            type: boolean
                        required:
                        - V2_0
                        type: object
                      preferredMaxBytes:
                        type: integer
                      snapshotIntervalSize:
                        type: integer
                      tickInterval:
                        type: string
                    required:
                    - absoluteMaxBytes
                    - applicationCapabilities
                    - batchTimeout
                    - channelCapabilities
                    - electionTick
                    - heartbeatTick
                    - maxInflightBlocks
                    - maxMessageCount
                    - ordererCapabilities
                    - preferredMaxBytes
                    - snapshotIntervalSize
                    - tickInterval
                    type: object
                  name:
                    minLength: 3
                    type: string
                required:
                - config
                - name
                type: object
              tag:
                minLength: 1
                type: string
            required:
            - enrollment
            - image
            - mspID
            - nodes
            - service
            - storage
            - systemChannel
            - tag
            type: object
          status:
            description: FabricOrderingServiceStatus defines the observed state of
              FabricOrderingService
            properties:
              conditions:
                description: Conditions is a set of Condition instances.
                items:
                  description: "Condition represents an observation of an object's
                    state. Conditions are an extension mechanism intended to be used
                    when the details of an observation are not a priori known or would
                    not apply to all instances of a given Kind. \n Conditions should
                    be added to explicitly convey properties that users and components
                    care about rather than requiring those properties to be inferred
                    from other observations. Once defined, the meaning of a Condition
                    can not be changed arbitrarily - it becomes part of the API, and
                    has the same backwards- and forwards-compatibility concerns of
                    any other part of the API."
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      description: ConditionReason is intended to be a one-word, CamelCase
                        representation of the category of cause of the current status.
                        It is intended to be used in concise output, such as one-line
                        kubectl get output, and in summarizing occurrences of causes.
                      type: string
                    status:
                      type: string
                    type:
                      description: "ConditionType is the type of the condition and
                        is typically a CamelCased word or short phrase. \n Condition
                        types should indicate state in the \"abnormal-true\" polarity.
                        For example, if the condition indicates when a policy is invalid,
                        the \"is valid\" case is probably the norm, so the condition
                        should be called \"Invalid\"."
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              status:
                type: string
            required:
            - conditions
            - status
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
