---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.4
  name: fabricfollowerchannels.hlf.kungfusoftware.es
spec:
  group: hlf.kungfusoftware.es
  names:
    kind: FabricFollowerChannel
    listKind: FabricFollowerChannelList
    plural: fabricfollowerchannels
    shortNames:
    - fabricfollowerchannel
    singular: fabricfollowerchannel
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.status
      name: State
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              anchorPeers:
                items:
                  properties:
                    host:
                      type: string
                    port:
                      type: integer
                  required:
                  - host
                  - port
                  type: object
                type: array
              externalPeersToJoin:
                items:
                  properties:
                    tlsCACert:
                      type: string
                    url:
                      type: string
                  required:
                  - tlsCACert
                  - url
                  type: object
                type: array
              hlfIdentity:
                properties:
                  secretKey:
                    type: string
                  secretName:
                    type: string
                  secretNamespace:
                    default: default
                    type: string
                required:
                - secretKey
                - secretName
                - secretNamespace
                type: object
              mspId:
                type: string
              name:
                type: string
              orderers:
                items:
                  properties:
                    certificate:
                      type: string
                    url:
                      type: string
                  required:
                  - certificate
                  - url
                  type: object
                type: array
              peersToJoin:
                items:
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
            required:
            - anchorPeers
            - externalPeersToJoin
            - hlfIdentity
            - mspId
            - name
            - orderers
            - peersToJoin
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              message:
                type: string
              status:
                type: string
            required:
            - conditions
            - message
            - status
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
